# Environment files with secrets
.env
.env.local
.env.test
.env.*.local

logs/
npm-debug.log
yarn-error.log
node_modules/
coverage/
dist/
.idea/
types/
run/
.DS_Store
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
tsconfig.build.tsbuildinfo
*.pfx
.DS_Store